.order-details-container {
    padding: 16px;
    min-height: 100vh;
}

.order-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

}


.order-details-title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    ;
}

.order-details-card {
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 2, 0, 0.05);
    border-image: radial-gradient(circle,
            rgba(255, 255, 255, 0.7) 20%,
            rgba(255, 255, 255, 0.2) 70%,
            transparent 100%)1;
}

.order-details-card-timeline {
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    padding-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 2, 0, 0.05);
    border-image: radial-gradient(circle,
            rgba(255, 255, 255, 0.7) 20%,
            rgba(255, 255, 255, 0.2) 70%,
            transparent 100%)1;
}

.order-details-card-header {
    margin-bottom: 16px;
}

.order-details-card-header-title {
    font-size: 14px;
    color: #ffffff;
}

.order-details-card-header-title-number {
    font-weight: bold;
    color: #FFFFFF;
}

.order-details-body {
    display: flex;
    gap: 16px;
}

.order-details-body-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 26px;

}

.order-details-body-items {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.order-details-location {
    font-size: 12px;
    color: #444;
    line-height: 1.4;
}

.order-details-location span {
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}

.order-details-status {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    color: #333;
}

.order-details-circle-icon {
    width: 16px;
    height: 16px;
}

.circle-drop {
    width: 50px;
    height: 50px;

}

.line-separator {
    width: 2px;
    height: 100%;
    margin: 0 16px;
}

.order-details-tracking-header {
    position: relative;
    display: flex;
    flex-direction: column;
}

.order-details-user-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    display: flex;
    align-items: center;
    width: 84px;
    height: 84px;
}

.order-details-tracking-time {
    display: flex;
    padding-top: 3vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.order-details-tracking-time p {
    font-size: 19.9px;
    color: #EDEDED;
    line-height: 1.4;
    font-weight: 800;
}

.order-details-tracking-status {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.order-details-tracking-status-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.order-details-tracking-status-item-text {
    grid-row: span 2;

}

.circle-item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FFEE00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unchecked-icon {
    width: 32px;
    height: 32px;
}

.order-details-tracking-status-footer {
    width: 100%;
    background-color: #FFEE00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.order-details-tracking-status-footer:hover {
    background-color: #FFD700;
    
}
.order-details-tracking-status-footer p {
    font-size: 20px;
    font-weight: 800;
    color: #080C0F;
    font-weight: bold;
    padding: 0px;
}

.order-details-pickData-button {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #e0e0e0;
        border-radius: 50%;
        padding-top: 20px;
        box-shadow: 0 2px 10px rgba(0, 2, 0, 0.05);
        border-image: radial-gradient(circle,
                rgba(255, 255, 255, 0.7) 20%,
                rgba(255, 255, 255, 0.2) 70%,
                transparent 100%)1;

}


.order-details-pickData-content{
    border: 1px solid #e0e0e0;
        border-radius: 50%;
        box-shadow: 0 2px 10px rgba(0, 2, 0, 0.05);
        border-image: radial-gradient(circle,
                rgba(255, 255, 255, 0.7) 20%,
                rgba(255, 255, 255, 0.2) 70%,
                transparent 100%)1;
}

.order-details-pickData-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  
   
}